.mb-70 {
   margin-bottom: 70px;
}

.accord__item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 80px 0;
}

.accord__img {
   max-width: 590px;
   margin: 0;
}

.accordion {
   max-width: 488px;
   width: 100%;
}
.accordion__item {
   margin-bottom: 12px;

   background: linear-gradient(90deg, #FF6800 0%, #FF1F00 100%);
   border-radius: 15px;
   transition: all .2s ease-in;
}
.accordion__title {
   color: #fff;
   font-weight: 500;
   font-size: .875rem;
   line-height: 1.5rem;

   position: relative;
   padding: 16px 18px;
   cursor: pointer;
}

.accordion__title.active {
   background: #fff;
   border-top: 2px solid #FF6800;
   border-left: 2px solid #FF6800;
   border-right: 2px solid #FF6800;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
}

.accordion__item:hover {
   background: linear-gradient(90deg, #8f3a01 0%, #8b1000 100%);
}

.accordion__title::after,
.accordion__title::before {
   content: ' ';
   width: 14px;
   height: 1px;
   background: #fff;
   position: absolute;
   top: 28px;
   transition: all .3s ease;
}

.accordion__title::before {
   transform: rotate(90deg);
   right: 18px;
}
.accordion__title.active::before {
   transform: rotate(0deg);
   right: 18px;
}
.accordion__title.active::before,
.accordion__title.active::after {
   background: #000;
}
.accordion__title::after {
   right: 18px;
}

.accordion__text {
   display: none;
   margin-top: -3px;
   padding: 16px 19px;
   background: #fff;
      
   font-weight: 500;
   font-size: .875rem;
   line-height: 1.5rem;
   color: #808080;

   border: 2px solid #FF6800;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
}

.active {
   color: #000;
   background: transparent;
}



@media screen and (max-width: 1024px){   
   .accord__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   
   .accordion {
      max-width: 100%;
   }
}

@media screen and (max-width: 463px){   
   .accord__img {
      width: 300px;
   }
}

@media screen and (max-width: 390px){   
   .accord__img {
      width: 250px;
   }
}
