.mb-70 {
   margin-bottom: 70px;
}

.benefits__item {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 80px 0;
   text-align: left;
}

.benefits__text {
   max-width: 580px;
   padding: 0;
}

.benefits__img {
   max-width: 580px;
   margin: 0 0px;
}

@media screen and (max-width: 780px){   
   .benefits__item {
      flex-wrap: wrap;
      padding: 50px 0;
   }
   
   .benefits__text {
      padding: 40px 0;
   }
   
   .benefits__img {
      width: 341px;
      margin: 0 50px;
   }
   
   .blog__img {
      margin: 0 auto;
   }
}

@media screen and (max-width: 390px){   
   .benefits__item {
      flex-wrap: wrap;
      padding: 30px 0;
   }
   
   .benefits__img {
      width: 341px;
      margin: 0 30px;
   }

   .blog__img {
      width: 341px;
      margin: 0 auto;
   }
   
}
