.mobile__humb {
   display: block;
   position: relative;
   top: 0;
   right: 0;
   background-color: transparent;
   height: 50px;
   width: 50px;
   cursor: pointer;
   box-sizing: content-box;
}
.mobile__humb span {
   display: block;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 30px;
   height: 2px;
   z-index: 99999;
   background-color: #E75624;
   border-radius: 13px;
   transition-duration: .4s;
}
.mobile__humb span:nth-child(1) {
   top: 14px;
}
.mobile__humb span:nth-child(2) {
   top: 23px;
}
.mobile__humb span:nth-child(3) {
   bottom: 16px;
}
.mobile__humb.active span:nth-child(1) {
   transform: translate(-15px, 9px) rotate(-45deg);
}
.mobile__humb.active span:nth-child(2) {
   transition-duration: 0s;
   opacity: 0;
}
.mobile__humb.active span:nth-child(3) {
   transform: translate(-15px, -9px) rotate(45deg);
}
.mobile__nav {
   display: block;
   position: fixed;
   bottom: 16px;
   right: 16px;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   z-index: 9999990;
   transition-duration: .4s;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}
.mobile__nav.open {
   background: #FEE8CE;
   width: 80%;
   height: 100vh;
   left: 0px;
   top: 52px;
   border-radius: 0;
}
.mobile__list {
   display: none;
}
.mobile__list.show {
   display: flex;
   flex-direction: column;
   width: 227px;
}
.mobile__item {
   background-color: transparent;
   width: 100%;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}
.mobile__item:not(:last-child) {
   margin-bottom: 40px;
}
.mobile__item a {
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 600;
   line-height: 1.5625rem;
   color: #E75624;
}

.mobile-drop p a {
   font-weight: 400;
   font-size: 1.125rem;
   line-height: 1.375rem;
   
   color: #252525;
}
.mobile-drop p a:hover {
   color: #5c5c5c;
}

.mobile-drop p {
   margin-top: 15px !important;
}

/* RESPONSIVE */
@media screen and (min-width:1024px){
   .mobile {
       display: none;
   }
}

@keyframes fadein {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}
