/* SLICK Custom Setting */
.slick-initialized .slick-slide {
   margin: 0 15px;
}
.slick-track {
   padding-bottom: 32px;
   display: flex;
   flex: 0 0 auto;
}
.slick-dots li button:before {
   content: ' ' !important;
   width: 16px !important;
   height: 16px !important;
   border-radius: 100%;
   background: linear-gradient(90deg, #FF6800 0%, #FF1F00 100%);
}
/* --------------------------- */

.reviews {
   margin-bottom: 106px;
}

.reviews-slider__item {
   padding: 2.5em;
   
   background: #FFFFFF;
   box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
   border-radius: 15px;
   border: 2px solid #FF6800;
}

.reviews-slider__text {
   padding-bottom: 24px;
   text-align: center;

   font-weight: 400;
   font-size: 14px;
   line-height: 1.5rem;
   
   color: #808080;
}

.reviews-slider__person {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
}

.reviews-slider__img {
   width: 55px;
}

.name {
   font-weight: 600;
   font-size: 14px;
   color: #333333;
}

.specialty {
   font-weight: 300;
   font-size: 10px;
   color: #666666;
}

/* RESPONSIVE */
@media screen and (max-width: 780px){
   .reviews {
      margin: 60px auto;
   }

   .reviews-slider__text {
      font-size: 20px;
   }
}

@media screen and (max-width: 390px){  
   .reviews {
      margin: 40px auto;
   }

   .reviews-slider__text {
      font-size: 16px;
   }
}