.reviews {
   max-width: 1216px;
   margin: 40px auto;
}

.reviews-slider {
   /* margin: 0 auto; */
}

.reviews-slider__item {
   width: 31.604938%; /* 384px/1215 */
   padding: 2.5em;

   display: flex;
   gap: 32px;
   
   background: #FFFFFF;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
   border-image: linear-gradient(90deg, #FF6800 0%, #FF1F00 100%) 1;
   border-radius: 15px;
   border-style: solid;
   border-width: 2px;
}

.reviews-slider__text {
   max-width: 78.125%; /* 300px/384 */
   margin: 0 auto;
   padding-bottom: 24px;
   text-align: center;

   font-weight: 400;
   font-size: 14px;
   line-height: 1.5rem;
   
   color: #808080;
}

.reviews-slider__person {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
}

.reviews-slider__img {
   width: 55px;
}

.name {
   font-weight: 600;
   font-size: 14px;
   color: #333333;
}

.specialty {
   font-weight: 300;
   font-size: 10px;
   color: #666666;
}


@media screen and (max-width: 780px){
   .reviews {
      margin: 60px auto;
   }

   .reviews-slider__text {
      font-size: 20px;
   }
}

@media screen and (max-width: 390px){  
   .reviews {
      margin: 40px auto;
   }

   .reviews-slider__text {
      font-size: 16px;
   }
}

/* ---------------------download----------------------------------- */
.download-bg {
   overflow: hidden;
   max-width: 100%;
}

.download-bg__img {
   margin: 0 auto;
}

.download__links {
   display: flex;
   align-items: center;
   justify-content: center;
}

.download {
   background: linear-gradient(90.87deg, rgba(255, 104, 1, 0.8) 0.72%, rgba(255, 32, 1, 0.8) 99.25%), url(../img/Call-to-Action.png) no-repeat center;
   padding: 115px 0;
   color: #fff;
   text-align: center;
}

.download__text {
   font-size: 38px;
   line-height: 48px;
   margin-bottom: 40px;
}

.download__link-btn,
.download__link{
   padding: 20px 40px;
   font-size: 16px;
   line-height: 26px;
   border-radius: 3px;
   margin: 0 5px;
   transition: all .3s;
}

.download__link-btn {
   background: #FC0A7E;
   border: 1px #FC0A7E solid;
}

.download__link-btn:hover {
   background: #df0970;
   border: 1px #df0970 solid;
}

.download__link {
   border: 1px solid #B04BB3;
}
.download__link:hover {
   background: #df0970;
   border: 1px #df0970 solid;
}

@media screen and (max-width: 390px){  
   .download__links {
      flex-wrap: wrap;
      gap: 20px;
   }
}

/* -------------subscribe----------------------- */
.subscribe {
   padding: 120px 0;
   background: #1B1B1B;
   text-align: center;
}

.subscribe__title {
   font-size: 38px;
   line-height: 48px;
   color: #FFFFFF;

   margin-bottom: 20px;
}

.subscribe__suptitle {
   font-size: 16px;
   line-height: 30px;
   color: #6B6B6B;

   margin-bottom: 40px;
}

.subscribe__input {
   background: #FFFFFF;
   box-shadow: 0px 0px 0px #FC0A7E;
   border-radius: 3px 0px 0px 3px;
   padding: 22px 10px 22px 12px;
   border: none;
   width: 311px;
   outline: none;
   transition: all .3s;
}

.subscribe__input:hover {
   background: #e3e3e3;
}

.subscribe__btn {
   background: #FC0A7E;
   border-radius: 0px 3px 3px 0px;
   padding: 22px 40px;
   margin-left: -10px;
   border: none;
   transition: all .3s;
}

.subscribe__btn:hover {
   background: #df0970;
   color: #fff;
}

@media screen and (max-width: 780px){  
   .subscribe {
      padding: 100px 0;
   }
}

@media screen and (max-width: 390px){  
   .subscribe {
      padding: 80px 0;
   }

   .form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
   }

   .subscribe__btn {
      border-radius: 3px;
   }

   .subscribe__input {
      border-radius: 3px;
   }
}