.second {
   padding-top: 100px;
   background: #1B1B1B;
   color: #fff;
   text-align: center;
}

.second-bg {
   margin: 0 auto;
   max-width: 85%;
   max-height: 650px;
}

@media screen and (max-width: 780px){
   .second {
      padding-top: 80px;
   }
}

@media screen and (max-width: 390px){  
   .second {
      padding-top: 60px;
   } 
}