/* Default */
@import "reset.css";

/* Fonts */
@import "fonts.css";

/* Block */
@import "header.css";
@import "second.css";
@import "accord.css";
@import "reviews.css";
@import "humb-menu.css";

@import "footer.css";

/* Global */
.container {
   max-width: 1215px;
   margin: 0 auto;
   padding: 0 15px;
}

body {
   font-family: 'Poppins', sans-serif;
}

._text-center {
   text-align: center;
}

/* Title */
.title-block {
   margin: 58px 0 32px 0;
}

.title {
   font-weight: 600;
   font-size: 2rem;
   line-height: 2.625rem;
   
   color: #000;

   margin-bottom: 6px;
}
.subtitle {   
   font-weight: 400;
   font-size: .875rem;
   line-height: 1.5rem;

   color: #999;
}

@media screen and (max-width: 1024px){   
   .title,
   .subtitle {
      text-align: center;
   }
}