/* Default */
@import "reset.css";

/* Fonts */
@import "fonts.css";

/* Block */
@import "header.css";
@import "second.css";
@import "benefits.css";
@import "reviews.css";
@import "humb-menu.css";

@import "footer.css";

/* Global */
.container {
   max-width: 1215px;
   margin: 0 auto;
   padding: 0 15px;
}

body {
   font-family: 'Poppins', sans-serif;
}

/* Title */
.title {
   margin-bottom: 55px;
}
.title__sub {   
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #A8A8A8;

   margin-bottom: 30px;
}
.title__main {
   font-size: 38px;
   line-height: 48px;
}
.title__sup {
   font-size: 16px;
   line-height: 30px;
   color: #6B6B6B;
}


@media screen and (max-width: 390px){   
   .title__main {
      font-size: 28px;
      line-height: 38px;
   }
}

/* Animation text */
.element-animation {
   opacity: 0;
   transform: translateY(20%);
 }
 
 .element-animation.element-show {
   opacity: 1;
   transition: all 1s;
   transform: translateY(0%);
}