/* Default */
@import "reset.css";

/* Block */
@import "header.css";
@import "reviews.css";
@import "accord.css";
@import "contact.css";
@import "humb-menu.css";


/* Global */
.container {
   max-width: 1215px;
   margin: 0 auto;
   padding: 0 15px;
}

body {
   font-family: 'Poppins', sans-serif;
}

/* Title */
.title {
   font-weight: 600;
   font-size: 2rem;
   line-height: 2.625rem;
   
   color: #000;

   margin-bottom: 6px;
}
.subtitle {   
   font-weight: 400;
   font-size: .875rem;
   line-height: 1.5rem;

   color: #999;
}

._text-center {
   text-align: center;
}
._mb-30 {
   margin-bottom: 30px;
}
._mb-20 {
   margin-bottom: 20px;
}
._mt-60 {
   margin-top: 60px;
}

@media screen and (max-width: 1024px){   
   .title,
   .subtitle {
      text-align: center;
   }
}